body{
    font-family: "Roboto", sans-serif;
   color: #434455;
   background-color: #FFFFFF;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
ul {
list-style: none;
margin: 0;
padding: 0;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}
.section{
    padding: 120px 0;
}
a {
    text-decoration: none;
}
.container {
    max-width: 1158px;
    padding-left: 15px; 
    padding-right: 15px;
    margin: 0 auto;
}
/* #region head */
 .page-header{
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
 }
 .header-container{
    display: flex;
    align-items: center;
 }
 .page-nav{
    display: flex;
    align-items: center;
 }

.main-logo-design{
    padding: 24px 0;
    margin-right: 76px;
}
.main-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: #4d5ae5;
}
.text-logo{
    color: #2e2f42;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}
.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.nav-link.is-active {
    color: #404BBF;
    position: relative;
}

.nav-link.is-active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    width: 100%;
    background-color:#404BBF;
    border-radius: 2px;
}
.nav-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover,
.nav-link:focus{
    color: #404bbf;
}

.address{
    font-style: normal;
    margin-left: auto;
}
.address-list{
    display: flex;
    align-items: center;
    gap: 40px;     
}

.address-item{
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
}
.address-item-contact{
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-item-contact:hover,
.address-item-contact:focus{
    color: #404bbf;
}

/* #endregion head */
/* #region image */
.section-image{
    padding: 188px 0;
    display: flex;
    max-width: 1440px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)),url("../images/people-office.jpg");
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
}

.container-image{
    text-align: center;
}

.title-image{
    max-width: 496px;
    margin: 0 auto 48px;
    font-weight: 700;
    color: #ffffff;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;

}
.button-image{
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-image:hover,
.button-image:focus{
    background-color: #404bbf;
}
/* #endregion image */
/* #region advantages */
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.advantages-icon{
    background-color: #F4F4FD;
    border-radius: 4px;
    align-items: center;
}
.section-advantages{
    padding: 120px 0;
}

.advantages-list{
    display: flex;
    gap: 24px;
    justify-content:center;
}
.advantages-icon-list {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}

.advantages-item{
    width: calc((100% - 72px) / 4);
}
.advantages-item-title{
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.advantages-item-description{
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 0;
}
/* #endregion advantages */

/* #region ourteam */
.section-team{
    background-color: #F4F4FD;
    display: flex;
    padding: 120px 0;
}
.team-list{
    display: flex;
    gap: 24px;
}
.worker{
    border-radius: 0 0 4px 4px;
    padding: 32px 0;
}
.team-title{
    margin-bottom: 72px;
    color: #2e2f42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.team-worker{
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    text-align: center;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}


.team-worker-title{
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.team-worker-position{
   color: #434455; 
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
    text-align: center;
}
.social-list-team {
    display: flex;
    justify-content: center;
    gap: 24px;
    list-style: none;
    padding: 0;
    margin-top: 16px;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    background-color: #404bbf;
}

.social-icon {
    width: 16px;
    height: 16px;
    fill: #f4f4fd;
}
/* #endregion ourteam */

/* #region portfolio */
.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
    background-color: #ffffff;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
    box-shadow:
        0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-thumb {
    position: relative;
    overflow: hidden;
}

.portfolio-item-image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    color: #f4f4fd;
    padding: 40px 32px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .overlay-text {
    transform: translateY(0%);
}

.app-info {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin: 0 0 8px 0;
}

.portfolio-item-area {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin: 0;
}
/* #endregion portfolio */

/* #region footer */
.page-footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.page-footer>.container {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    gap: 120px;
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}


.page-footer>.container>div:first-child {
    flex: 0 0 264px;
    margin-right: 120px;
}

.footer-logo {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
}

.text-logo-footer {
    color: #f4f4fd;
}


.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    margin: 0;
}


.footer-social-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom:16px;
}

.footer-social-list {
    display: flex;
    gap: 16px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31d0aa;
}

.footer-social-icon {
    fill: #f4f4fd;
}

.footer-subscribe {
    margin-left: auto;
}

.footer-subscribe-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}


.footer-form {
    display: flex;
    gap: 24px;
    align-items: center;
}


.footer-form-label {
    display: block;
}

.footer-form-input {
    width: 264px;
    height: 40px;
    padding-left: 16px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-textarea::placeholder{
    color: rgba(46, 47, 66, 0.4);
}
.footer-form-input::placeholder {
    color: #ffffff;
}

.footer-form-input:focus {
    border-color: #4d5ae5;
}

.footer-form-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    min-width: 165px;
    height: 40px;
    padding: 8px 24px;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-btn:hover,
.footer-form-btn:focus {
    background-color: #404bbf;
}

.footer-form-icon {
    margin-left: 16px;
    fill: #ffffff;
}

/* #endregion footer */

.modal-backdrop {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 999;
    }

.modal-backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal-review {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 72px 24px 24px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal:hover,
.close-modal:focus {
    background-color: #404bbf;
    border: none;
}

.close-modal:hover .close-modal-icon,
.close-modal:focus .close-modal-icon {
    fill: #ffffff;
}

.close-modal-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.form-field-wrapper {
    margin-bottom: 8px;
}

.label-field {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.field-wrapper {
    position: relative;
}

.text-field {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 38px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-field:focus {
    border-color: #4D5AE5;
}

.field-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-field:focus+.field-icon {
    fill: #4D5AE5;
}

.comment-textarea {
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    resize: none;
    background-color: transparent;
    outline: transparent;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-textarea:focus {
    border-color: #4D5AE5;
}

.policy {
    margin-bottom: 24px;
}

.policy-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    align-items: center;
}

.custom-checkbox {
    display: inline-flex;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    margin-right: 8px;
    align-items: center;
    justify-content: center;
    fill: transparent;
    flex-shrink: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-checkbox:checked+.policy-label .custom-checkbox {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.policy-link {
    color: #4d5ae5;
    text-decoration: underline;
}

.button-send {
    display: block;
    min-width: 169px;
    height: 56px;
    margin: 0 auto;
    padding: 16px 32px;
    background-color: #4d5ae5;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-send:hover,
.button-send:focus {
    background-color: #404bbf;
}
.visually-hidden:checked+label .custom-checkbox {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}
.comment-field{
    margin-bottom: 16px;
}